/*
* @Author: xuyuexiong
* @Date:   2017-08-04 11:23:53
* @Last Modified by:   xuyuexiong
* @Last Modified time: 2017-09-04 11:51:26
*/

html,
body {
    height: 100%;
}

body {
    background: #eff3f5;
    font-family: "微软雅黑", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0px;
    }
}

p {
    margin: 0px;
}



/*导航栏*/

.navbg {
    background: #ffffff;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    min-width: 1200px;
    z-index: 2;
}

.nav_active {
    color: #ffffff!important;
}

.nav_rq {
    padding: 0;
    width: 1200px;
}

.nav_rq_cd {
    margin-left: 0px!important;
    margin-right: 0px!important;
    float: left;
}

.logo {
    display: block;
    height: 80px;
}

.logo img {
    padding: 20px 0 20px 0;
}

.first_nav {
    position: relative;
    float: right;
}

.navlist {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlist li {
    float: left;
}

.navlist li a {
    padding: 0 15px 0 15px;
    line-height: 80px;
    height: 80px;
    display: block;
    font-size: 16px;
    color: #2d3e50;
    transition: all .4s ease-in-out;
    position: relative;
    z-index: 10;
}

.current {
    background: none;
}

.prev {
    background: none;
}

.current a {
    color: #ffffff!important;
}

.navline {
    position: absolute;
    display: none;
    width: 94px;
    height: 80px;
    background: #2683f5;
    top: 0;
    z-index: 1;
    transition: width .6s;
}

.second_nav {
    background-color: rgba(45, 62, 80, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F2D3E50, endcolorstr=#7F2D3E50);
    height: 50px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 999;
    width: 100%;
}

.pr {
    position: relative;
    height: 50px;
    width: 1200px;
}

.inner_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.inner_nav li {
    float: left;
    line-height: 50px;
    margin: 0 18px;
}

.inner_nav li a {
    float: left;
    color: #ffffff;
    font-size: 14px;
    display: block;
}

.inner_nav .second_active {
    color: #01ccff;
}

.inner_nav li a:hover {
    color: #01ccff;
}

.pr>div {
    display: none;
    position: absolute;
    top: 0px;
}



/*轮播图*/

.banner {
    position: relative;
    min-width: 1200px;
    z-index: 1;
    min-width: 1200px;
    height: 480px;
}

.nivoSlider {
    position: relative;
}

.nivoSlider img {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 1920px;
    height: 480px;
}

.nivoSlider a.nivo-imageLink {
    margin: 0px;
    padding: 0px;
    border: 0px currentColor;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 6;
}

.nivoSlider {
    position: relative;
}

.nivoSlider img {
    left: 0px;
    top: 0px;
    position: absolute;
}

.nivo-slice {
    height: 100%;
    display: block;
    position: absolute;
    z-index: 5;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}



/*内容*/

.middle {
    position: relative;
    min-width: 1200px;
    z-index: 1;
    margin-bottom: 50px;
}

.middle_content {
    width: 1200px;
    background: #fff;
    margin-top: -180px;
    margin-bottom: 40px;
    z-index: 1;
}

.content_box {
    margin: 40px 40px 0 40px;
}

.content_title {
    height: 50px;
    line-height: 50px;
}

.content_title_b {
    color: #2683f5;
    font-size: 30px;
}

.content_title_s {
    color: #2683f5;
    font-size: 18px;
    line-height: 40px;
    padding-top: 10px;
}

.content_list {
    padding-top: 50px;
    position: relative;
}

.content_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content_list ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: dashed 1px #e1e1e1;
}
.content_list li img{
    width: 240px;
    height: 140px;
    max-width: none!important;
}

.content_time {
    width: 90px;
    height: 140px;
    background: #969ea7;
    margin-right: 40px;
}

.content_word {
    width: 990px;
}

.content_word_title {
    font-size: 20px;
    color: #2d3e50;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content_word_info {
    position: relative;
    font-size: 16px;
    color: #999999;
    line-height: 30px;
    height: 90px;
    width: 990px;
    overflow: hidden;
}

.content_page {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content_page_span {
    margin: 0 auto;
    float: none;
    display: inline-block;
}

.content_page_span a,
.content_page_span span {
    display: inline-block;
    color: #ffffff;
    margin: 0 5px 0 5px;
    padding: 10px;
    background: #969ea7;
    float: left;
    cursor: pointer;
}

.content_page_span a:hover,
.content_page_span span:hover {
    background: #2d3e50;
}

.i_time {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.i_time_day {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}

.i_time_year {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
}

.xtb_home {
    width: 30px;
    height: 20px;
    display: block;
    margin-right: 3px;
    margin-top: 13px;
    background: url(../img/contact/xtb_home.png) no-repeat;
}

.xtb_jiantou {
    margin: 0 2px 0 2px;
    color: #999999;
}

.right_title a {
    color: #999999;
    font-size: 16px;
}

.content_tab {
    padding-top: 50px;
}

.content_info {
    position: relative;
}

.content_img {
    padding-top: 25px;
}

.content_img img {
    /*width: 100%;*/
    height: auto;
}



/*新闻内页*/

.page_title {
    text-align: center;
    margin-bottom: 35px;
}

.page_image {
    text-align: center;
    margin-bottom: 35px;
}

.page_info {
    margin-bottom: 70px;
}

.page_info p {
    text-indent: 40px;
    font-size: 18px;
    color: #2d3e50;
    line-height: 40px;
}



/*学院页*/

.school_content {
    padding-left: 20px;
    /*width: 820px;*/
}

.school_title {
    font-size: 24px;
    color: #2d3e50;
    padding-top: 20px;
    padding-bottom: 15px;
}

.school_teacher {
    font-size: 16px;
    color: #999999;
    padding-right: 40px;
}

.school_time {
    font-size: 16px;
    color: #999999;
}

.school_details {
    padding-top: 20px;
}

.school_details a,
.school_details a:hover {
    font-size: 16px;
    color: #2683f5;
}



/*案例页*/

.case_box {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

.case_label {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.case_label ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.case_label li {
    float: left;
    font-size: 18px;
    color: #999999;
    padding: 10px 20px;
    border: #999999 1px solid;
    margin: 0 10px;
    display: inline;
    zoom: 1;
    border-radius: 50px;
    cursor: pointer;
}

.case_label .case_active {
    color: #ffffff;
    background: #2683f5;
}

.case_img {
    width: 1200px;
    margin: 0 auto;
}

.case_img ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden；
}

.case_list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 0;
    float: left;
    position: relative;
    overflow: hidden;
    height: 220px;
    width: 270px;
}

.case_img .case_img_first {
    margin-left: 0;
}

.case_list img {
    width: 270px;
    height: 220px;
}

.case_info {}

.case_mask {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: none;
}

.case_mask_text {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    display: none;
}



/*业务服务*/

.business {
    margin-bottom: 0;
}

.business_img {
    float: left;
    width: 50%;
    width: 49.999%\9;
    height: 800px;
    position: relative;
}
.business_img img{
    width: 960px;
    height: 800px;
    max-width: none!important;
}
.business_word {
    float: left;
    width: 50%;
    width: 49.999%\9;
    height: 800px;
    background: #26579a;
    position: relative;
}

.business_title {
    width: 600px;
    height: 180px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    /*top: 180px;*/
    opacity: 0;
    filter: alpha(opacity=0);
}

.business_title_chinese {
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
    padding-bottom: 15px;
}

.business_title_english {
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
}

.business_info {
    width: 550px;
    position: absolute;
    /*bottom: 400px;*/
    left: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.business_info_english {
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    padding-bottom: 40px;
}

.business_info_chinese {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 3px;
}


/*公益圈*/

.circle_box {
    width: 1200px;
}

.circle_img {
    background: url(../img/circle/circle_01.png) no-repeat center;
    width: 100%;
    height: 640px;
}

.circle_img_box {
    padding-top: 180px;
}

.circle_img_word {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    line-height: 55px;
    padding-bottom: 10px;
}

.circle_title {
    position: relative;
    background: #ffffff;
    margin-top: -40px;
    padding-bottom: 40px;
}

.circle_title_zhu {
    font-size: 36px;
    color: #2d3e50;
    line-height: 45px;
    text-align: center;
    padding: 40px 0;
}

.circle_title_fu {
    font-size: 18px;
    color: #2d3e50;
    line-height: 30px;
    text-align: center;
}

.circle_new {
    position: relative;
    background: #ffffff;
    margin-top: 20px;
}

.circle_new_top {
    padding: 30px 30px 20px 30px;
}

.circle_new_left {
    float: left;
    font-size: 24px;
    color: #2d3e50;
    line-height: 30px;
}

.circle_new_right {
    float: right;
    font-size: 14px;
    color: #2683f5;
    padding-top: 10px;
}

.circle_new_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.circle_new_list li {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.circle_new .circle_new_list img {
    width: 240px!important;
    height: 140px!important;
    max-width: none!important;
}

.circle_new_list p {
    font-size: 14px;
    color: #2683f5;
    padding-top: 10px;
}

.circle_social {
    position: relative;
    background: #ffffff;
    margin-top: 20px;
}

.circle_social_left {
    width: 600px;
    float: left;
}

.circle_social_left img {
    width: 600px!important;
    height: 375px!important;
    max-width: none!important;
}

.circle_social_right {
    width: 600px;
    float: left;
}

.circle_social_title {
    padding: 30px 20px 0 20px;
}

.social_title_left {
    float: left;
    font-size: 24px;
    color: #2d3e50;
    line-height: 30px;
}

.social_title_right {
    float: right;
    font-size: 14px;
    color: #2683f5;
    line-height: 20px;
}

.circle_social_list {
    margin: 0;
    list-style: none;
    padding: 0 20px;
}

.circle_social_list li {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid 1px #e1e2e3;
}

.circle_social_list .last_list {
    border-bottom: none;
}

.social_list_left {
    font-size: 16px;
    color: #2d3e50;
    line-height: 20px;
    float: left;
    vertical-align: middle;
}

.social_list_right {
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    float: right;
    vertical-align: middle;
}


/*底部菜单*/

.footer {
    position: relative;
    z-index: 20;
    height: 216px;
    width: 100%;
    min-width: 1200px;
}

.footer_nav {
    height: 175px;
    background: #494952;
}

.footer_content {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer_content_left {
    width: 800px;
    float: left;
    height: 175px;
}

.footer_content_right {
    width: 400px;
    float: left;
    height: 175px;
}

.footer_logo {
    padding-top: 40px;
}

.footer_nav_list {
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
}

.footer_nav_list li {
    float: left;
    padding-right: 15px;
}

.footer_nav_list li a {
    color: #fefeff;
}

.footer_nav_list li a:hover {
    text-decoration: underline;
}

.footer_number {
    float: left;
    height: 175px;
    padding-left: 110px;
}

.footer_qr {
    float: left;
    height: 175px;
    padding-left: 25px;
}

.footer_nav_number {
    padding-top: 35px;
}

.gp_number {
    font-size: 30px;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
}

.gp {
    font-size: 15px;
    color: #ffffff;
    height: 20px;
    line-height: 20px;
}

.footer_nav_xtb {
    padding-top: 10px;
}

.qr_code {
    padding-top: 40px;
}

.weixin_rq {
    display: inline-block;
    margin-right: 20px;
    height: 39px;
    width: 40px;
    position: relative;
    background: url(../img/xtb_weixin.png);
}

.hide_weixin div {
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: 80px;
    right: -40px;
    border: #ffffff 4px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.hide_weixin div:after {
    content: "";
    border-top: 13px solid #fff;
    border-right: 13px solid transparent;
    border-bottom: none;
    border-left: 13px solid transparent;
    position: absolute;
    bottom: -38px;
    left: 50%;
    margin-left: -10px;
    display: block;
}

.weixin_rq p {
    position: absolute;
    top: -45px;
    width: 138px;
    height: 25px;
    right: -40px;
    background: #ffffff;
    color: #494952;
    display: block;
    text-align: center;
    border-radius: 4px;
    line-height: 25px;
}

.hide_weixin {
    display: none;
    background: #ffffff;
    z-index: 20;
}

.hide_flm {
    display: none;
    background: #ffffff;
    z-index: 20;
}

.flm_rq {
    display: inline-block;
    height: 39px;
    width: 41px;
    position: relative;
    background: url(../img/xtb_flm.png);
}

.hide_flm div {
    position: absolute;
    background: url(../img/flm_qr.png) no-repeat;
    width: 130px;
    height: 130px;
    bottom: 80px;
    right: -40px;
    border: #ffffff 4px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.hide_flm div:after {
    content: "";
    border-top: 13px solid #fff;
    border-right: 13px solid transparent;
    border-bottom: none;
    border-left: 13px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -10px;
    display: block;
}

.flm_rq p {
    position: absolute;
    top: -46px;
    width: 138px;
    height: 30px;
    right: -40px;
    background: #ffffff;
    color: #494952;
    display: block;
    text-align: center;
    border-radius: 4px;
    line-height: 30px;
}

.footer_copyright {
    background: #111111;
}

.footer_copyright p {
    line-height: 41px;
    color: #999999;
    font-size: 14px;
    text-align: center;
}